{% extends 'base.html' %}
{% load static %}
{% load qr_code %}

{% block title %}
Ocean Station
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Ocean Station</li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 bg-light">
            <span class="btn m-1 text-secondary">All</span>
            {% for region in regions %}
            <span class="btn m-1 text-dark" onclick="window.location.href='{% url 'region_stations' region.1 %}'">{{ region.1 }}</span>
            {% endfor %}
        </div>

        {% for link, station in stations %}
        <div class="col-lg-12 col-sm-6 mb-1">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12">
                        {% if station.get_main_photo %}
                        <img src="{{ station.get_main_photo.path.url }}" width="100%" alt="{{ station.name }}">
                        {% else %}
                        <img src="{% static 'pic/image-not-found.png' %}" width="100%" alt="Image not found">
                        {% endif %}
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <h1 class="fw-light">{{ station.name }}</h1>
                        <p class="text-muted">{{ station.address }}</p>
                        <p>
                            <button class="btn btn-primary" onclick="window.open('{{ station.fans_page_url }}');">Website</button>
                            <a class="btn btn-info" href="{% url 'station_info' station.slug %}">Info</a>
                            {% qr_from_text link size=3 border=6 %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}