{% extends 'base.html' %}
{% load static %}
{% load station_filter %}

{% block title %}
Ocean Station
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'region_stations' station.region|readable_region:1 %}">Ocean Station</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ station }}</li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>{{ station.name }}</h1>
        {% if request.user == station.manager or request.user.is_superuser %}
        <i class="bi bi-pencil-square" style="cursor: pointer" onclick="window.location.href='{% url 'station_update' station.slug %}'">Edit</i>
        {% endif %}
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            {% if station.album %}
            <div class="row">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        {% for photo in station.album.all %}
                        {% if forloop.counter == 1 %}
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" aria-label="Slide {{ forloop.counter }}" class="active" aria-current="true"></button>
                        {% else %}
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" aria-label="Slide {{ forloop.counter }}"></button>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <div class="carousel-inner">
                        {% for photo in station.album.all %}
                        {% if forloop.counter == 1 %}
                        <div class="carousel-item active">
                            <img src="{{ photo.path.url }}" class="d-block w-100" alt="{{ photo.title }}" onclick="window.open('{{ photo.path.url }}')" style="cursor: pointer;">
                            <div class="carousel-caption">
                                <h2 class="fw-light">{{ photo.title }}</h2>
                            </div>
                        </div>
                        {% else %}
                        <div class="carousel-item">
                            <img src="{{ photo.path.url }}" class="d-block w-100" alt="{{ photo.title }}" onclick="window.open('{{ photo.path.url }}')" style="cursor: pointer;">
                            <div class="carousel-caption">
                                <h2 class="fw-light">{{ photo.title }}</h2>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            {% endif %}
        </div>
        {% if station.overview %}
        <div class="col-md-6 h5 fw-light">
            <p>{{ station.overview|linebreaks|safe }}</p>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td class="col-2 align-middle">Address</td>
                        <td class="col-10 align-middle">{{ station.address }}</td>
                    </tr>
                    <tr>
                        <td class="col-2 align-middle">Coordinate</td>
                        <td class="col-10 align-middle">{{ station.coordinate }}</td>
                    </tr>
                    <tr>
                        <td class="col-2 align-middle">Contact Phone</td>
                        <td class="col-10 align-middle">{{ station.contact_phone }}</td>
                    </tr>
                    <tr>
                        <td class="col-2 align-middle">Attractions</td>
                        <td class="col-10 align-middle">
                            {% for attraction in station.attractions.all %}
                            <span class="badge rounded-pill bg-success">#{{ attraction }}</span>
                            {% endfor %}
                            {% if request.user.is_superuser %}
                            <i class="bi bi-bookmark-plus" data-toggle="modal" data-target="#TagModalForm" style="cursor: pointer"></i>
                            <div class="modal fade" id="TagModalForm" tabindex="-1" role="dialog" aria-labelledby="TagModalForm" aria-hidden="true">
                                <form method="post" action="{% url 'attraction_add' station.slug %}">
                                    {% csrf_token %}
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content text-secondary">
                                            <div class="modal-header text-center" style="width: 100%">
                                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                            </div>

                                            <div id="user-modal-menu" style="width: 100%">
                                                {{ attraction_add_form.as_p }}
                                            </div>

                                            <div class="modal-footer" style="width: 100%">
                                                <button type="submit" class="btn btn-primary">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2 align-middle">Fans Page/Website</td>
                        <td class="col-10 align-middle"><a href="{{ station.fans_page_url }}">{{ station.fans_page_url }}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div>
            <p>{{ station.introductions|linebreaks|safe }}</p>
        </div>
    </div>

<!--    {% if contents %}-->
<!--    <div class="row">-->
<!--        <div>-->
<!--            {% for content in contents %}-->
<!--            <p>{{ content.description|linebreaks|safe }}</p>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </div>-->
<!--    {% endif %}-->

<!--    {% if cautions %}-->
<!--    <div class="row border-top pt-2">-->
<!--        <h3>Cautions</h3>-->
<!--        {% for caution in cautions %}-->
<!--        <p>{{ caution.description|linebreaks|safe }}</p>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    {% endif %}-->

<!--    {% if others %}-->
<!--    <div class="row border-top pt-2">-->
<!--        <h3>Others</h3>-->
<!--        {% for other in others %}-->
<!--        <p>{{ other.description|linebreaks|safe }}</p>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    {% endif %}-->

    {% if region_stations %}
    <div class="row justify-content-center border-top pt-2">
        <h3>{{ station.region|readable_region:1 }} Others</h3>
        <div id="carouselExampleControlsNoTouching" class="col-lg-4 col-md-6 col-8 carousel slide" data-bs-touch="false" data-bs-interval="false">
            <div class="carousel-inner">
                {% for station in region_stations %}
                {% if forloop.counter == 1 %}
                <div class="carousel-item active">
                    {% if station.get_main_photo %}
                    <img src="{{ station.get_main_photo.path.url }}" width="100%" alt="{{ station.name }}">
                    {% else %}
                    <img src="{% static 'pic/image-not-found.png' %}" width="100%" alt="Image not found">
                    {% endif %}
                    <div>
                        <p>
                            <a href="{% url 'station_info' station.slug %}" class="h5 fw-light">{{ station.name }}</a>
                        </p>
                        <i class="text-muted">{{ station.address }}</i>
                    </div>
                </div>
                {% else %}
                <div class="carousel-item">
                    {% if station.get_main_photo %}
                    <img src="{{ station.get_main_photo.path.url }}" width="100%" alt="{{ station.name }}">
                    {% else %}
                    <img src="{% static 'pic/image-not-found.png' %}" width="100%" alt="Image not found">
                    {% endif %}
                    <div>
                        <p>
                            <a href="{% url 'station_info' station.slug %}" class="h5 fw-light">{{ station.name }}</a>
                        </p>
                        <i class="text-muted">{{ station.address }}</i>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}