{% extends 'base.html' %}
{% load static %}

{% block title %}
CGA Forum
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">CGA Forum</li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <table class="table table-striped">
            <thead>
                <th class="col-6">Category</th>
                <th class="col-6">Subs</th>
            </thead>
            <tbody>
                {% for category in object_list %}
                <tr>
                    <td class="h3 fw-light pt-3 pb-3"><a href="{% url 'subcategories' category.slug %}" class="text-decoration-none">{{ category }}</a></td>
                    <td class="pt-3 pb-3">{{ category.subcategory_set.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}