{% extends 'base.html' %}
{% load static %}

{% block title %}
CGA Case
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'cgacase' %}">CGA Case</a></li>
<li class="breadcrumb-item"><a href="{% url 'case_sections' category %}">{{ category }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-12">
                <select name="legal_resources" required id="id_legal_resources" size="{{ form.legal_resources.field.queryset.count }}" multiple>
                    {% for lr in form.legal_resources.field.queryset %}
                    {% if lr.pk in selected_lr_ids %}
                    <option value="{{ lr.pk }}" selected>{{ lr }}</option>
                    {% else %}
                    <option value="{{ lr.pk }}">{{ lr }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-secondary" onclick="history.back();">Cancel</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}