{% extends 'base.html' %}
{% load static %}

{% block title %}
CGA Case
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'cgacase' %}">CGA Case</a></li>
<li class="breadcrumb-item"><a href="{% url 'case_sections' category %}">{{ category }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% if request.user.is_superuser %}
        <div class="col-12">
            <a href="{% url 'case_update' case.title %}" class="btn btn-secondary">Edit</a>
        </div>
        {% endif %}
        <div class="col-12">
            <h3>{{ object.serial_number }}.{{ object.title }}</h3>
        </div>
        <div class="col-12">
            <h3>Legal Source</h3>
            <p>{{ object.legal_resources|safe }}</p>
        </div>
        <div class="col-12">
            <h3>Handling Points</h3>
            <p>{{ object.handling_point|safe }}</p>
        </div>
        <div class="col-12">
            <h3>Cautions</h3>
            <p>{{ object.cautions|safe }}</p>
        </div>
        <div class="col-12">
            <h3>Flow Chart</h3>
            {% if object.flow_chart %}
            <img src="{{ object.flow_chart.url }}" class="d-block w-50" alt="{{ object }}" onclick="window.open('{{ object.flow_chart.url }}')" style="cursor: pointer;">
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}