{% extends 'base.html' %}
{% load static %}

{% block title %}
CGA Case
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'cgacase' %}">CGA Case</a></li>
<li class="breadcrumb-item"><a href="{% url 'case_sections' category %}">{{ category }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-12">
                <h3>{{ object.serial_number }}.{{ object.title }}</h3>
            </div>
            <div class="col-12">
                <h3>Legal Source</h3>
                <ul type="1">
                    {% for lr in object.legal_resources.all %}
                    <li onclick="window.open('{{ lr.source_url }}')" style="color: blue;">{{ lr }}</li>
                    <p>
                        {{ lr.content|linebreaks|safe }}
                    </p>
                    {% endfor %}
                    <li><a href="{% url 'case_lr_update' case.title %}">Add+</a></li>
                </ul>
            </div>
            <div class="col-12">
                <h3>Handling Points</h3>
                <p>{{ form.handling_point }}</p>
            </div>
            <div class="col-12">
                <h3>Cautions</h3>
                <p>{{ form.cautions }}</p>
            </div>
            <div class="col-12">
                <h3>Flow Chart</h3>
                {% if object.flow_chart %}
                <img src="{{ object.flow_chart.url }}" class="d-block w-50" alt="{{ object }}" onclick="window.open('{{ object.flow_chart.url }}')" style="cursor: pointer;">
                {% endif %}
                <p>{{ form.flow_chart }}</p>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}