{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% load cga_booking_filters %}

{% block title %}
{{ request.user }}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'profile' user.username %}">{{ user.username }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Reservations</li>
{% endblock %}

{% block body %}
<form method="post">
    {% csrf_token %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row justify-content-center">
            <!--Room reservation-->
            <h3 class="fw-light align-middle">Room</h3>
            <div class="col-10 rounded-3 m-1 bg-white shadow p-3 bg-body rounded">
                {% for reservation in room_reservations %}
                <div class="card mb-2">
                    <i class="card-header fw-light">
                        <span class="text-right">{{ reservation.serial_number }}</span>
                    </i>
                    <div class="card-body">
                        <h6 class="card-title fw-light">{{ reservation.content_object.belongs2.name }}｜{{ reservation.content_object }}</h6>
                        <p class="card-text h4">{{ reservation.start_time|date:"Y/m/d" }}<i class="bi bi-arrow-right bi-warning"></i>{{ reservation.end_time|date:"Y/m/d" }}</p>
                        <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'room_reservation_info' request.user.username reservation.serial_number %}'">detail</button>
                    </div>
                </div>
                {% empty %}
                <span>No reservation recently.</span>
                {% endfor %}
            </div>
        </div>
    </div>
</form>
{% endblock %}
