{% extends 'base.html' %}
{% load static %}

{% block title %}
CGA Booking
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'hotels' %}">CGA Booking</a></li>
<li class="breadcrumb-item"><a href="{% url 'hotel_info' hotel.slug %}">{{ hotel }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'hotel_update' hotel.slug %}">Edit</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
{% endblock %}

{% block body %}
<form method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td class="col-2 align-middle">Name</td>
                            <td class="col-10 align-middle">{{ form.name }}</td>
                        </tr>
                        <tr>
                            <td class="col-2 align-middle">Price</td>
                            <td class="col-10 align-middle">{{ form.price }}</td>
                        </tr>
                        <tr>
                            <td class="col-2 align-middle">Single Bed</td>
                            <td class="col-10 align-middle">{{ form.single_bed }}</td>
                        </tr>
                        <tr>
                            <td class="col-2 align-middle">Double Bed</td>
                            <td class="col-10 align-middle">{{ form.double_bed }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="align-middle">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </td>
                        </tr>
                    </tbody>
                    {{ room.photos.all }}
                </table>
            </div>
        </div>
    </div>
</form>
{% endblock %}