{% extends 'base.html' %}
{% load static %}
{% load station_filter %}

{% block title %}
Ocean Station
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'region_stations' station.region|readable_region:1 %}">Ocean Station</a></li>
<li class="breadcrumb-item"><a href="{% url 'station_info' station.slug %}">{{ station }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'station_update' station.slug %}">Edit</a></li>
<li class="breadcrumb-item active" aria-current="page">Contents</li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <table class="table table-striped">
            <thead class="text-center">
                <th scope="col">Flag</th>
                <th scope="col">Content</th>
                <th scope="col"></th>
            </thead>

            <tbody>
                {% for content in object_list %}
                <tr>
                    <td class="text-center align-middle">{{ content.content_flag|readable_content_flag:1 }}</td>
                    <td class="align-middle">{{ content.description|linebreaks|safe }}</td>
                    <td class="align-middle">
                        <a class="bi bi-pencil-square" href="{% url 'content_edit' station.slug content.id %}"></a>
                        <a class="bi bi-trash" href="{% url 'content_del' station.slug content.id %}"></a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">
                        <form method="post" action="{% url 'content_add' station.slug %}">
                            {% csrf_token %}
                            <table>
                                <tr>
                                    <td>{{ content_add_form.content_flag.label }}</td>
                                    <td>{{ content_add_form.content_flag }}</td>
                                </tr>
                                <tr>
                                    <td>{{ content_add_form.description.label }}</td>
                                    <td>{{ content_add_form.description }}</td>
                                </tr>
                            </table>
                            <button type="submit" class="btn btn-success">Add</button>
                            <button type="reset" class="btn btn-light">Reset</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}