{% extends 'base.html' %}
{% load static %}
{% load station_filter %}

{% block title %}
Ocean Station
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'region_stations' station.region|readable_region:1 %}">Ocean Station</a></li>
<li class="breadcrumb-item"><a href="{% url 'station_info' station.slug %}">{{ station }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'station_update' station.slug %}">Edit</a></li>
<li class="breadcrumb-item"><a href="{% url 'station_contents' station.slug %}">Contents</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <form method="post">
            {% csrf_token %}
            <table class="table table-stripped">
                <tr>
                    <td class="col-2">{{ form.content_flag.label }}</td>
                    <td class="col-10">{{ form.content_flag }}</td>
                </tr>
                <tr>
                    <td class="col-2">{{ form.description.label }}</td>
                    <td class="col-10">{{ form.description }}</td>
                </tr>
                <tr>
                    <td class="col-2">{{ form.sequence.label }}</td>
                    <td class="col-10">{{ form.sequence }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-secondary" onclick="history.back();">Cancel</button>
                    </td>
                </tr>

                <tr class="text-center bg-dark text-light">
                    <td class="col-2">Sequence</td>
                    <td class="col-10">Description</td>
                </tr>
                <tr class="align-middle">
                    <td class="col-2 text-center">
                        {% for content in contents %}
                        <p>{{ content.sequence }}</p>
                        {% endfor %}
                    </td>
                    <td class="col-10">
                        {% for content in contents %}
                        <p>{{ content.description|linebreaks|safe }}</p>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}