{% extends 'base.html' %}
{% load static %}
{% load station_filter %}

{% block title %}
Ocean Station
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'region_stations' station.region|readable_region:1 %}">Ocean Station</a></li>
<li class="breadcrumb-item"><a href="{% url 'station_info' station.slug %}">{{ station }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'station_update' station.slug %}">Edit</a></li>
<li class="breadcrumb-item"><a href="{% url 'station_contents' station.slug %}">Contents</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
{% endblock %}

{% block body %}
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Update</button>
</form>
{% endblock %}