{% extends 'base.html' %}
{% load static %}

{% block title %}
CGA Booking
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'hotels' %}">Hotel</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ object.name }}</li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>{{ object.name }}</h1>
        {% if request.user == object.manager %}
        <i class="bi bi-pencil-square" style="cursor: pointer" onclick="window.location.href='{% url 'hotel_update' hotel.slug %}'">Edit</i>
        {% endif %}
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            {% if hotel.external_appearance %}
            <img src="{{ hotel.external_appearance.url }}" class="d-block w-100" alt="{{ hotel.name }}" onclick="window.open('{{ hotel.external_appearance.url }}')" style="cursor: pointer;">
            {% endif %}
        </div>
        {% if overviews %}
        <div class="col-md-6 h5 fw-light">
            {% for overview in overviews %}
            <p>{{ overview.description|linebreaks|safe }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td class="col-2 align-middle">Address</td>
                        <td class="col-10 align-middle">{{ hotel.address }}</td>
                    </tr>
                    <tr>
                        <td class="col-2 align-middle">Coordinate</td>
                        <td class="col-10 align-middle">{{ hotel.coordinate }}</td>
                    </tr>
                    <tr>
                        <td class="col-2 align-middle">Contact Phone</td>
                        <td class="col-10 align-middle">{{ hotel.contact_phone }}</td>
                    </tr>
                    <tr>
                        <td class="col-2 align-middle">Contact Email</td>
                        <td class="col-10 align-middle"><a href = "mailto: {{ hotel.contact_email }}">{{ hotel.contact_email }}</a></td>
                    </tr>
                    <tr>
                        <td class="col-2 align-middle">Attractions</td>
                        <td class="col-10 align-middle">
                            {% for attraction in hotel.attractions.all %}
                            <span class="badge rounded-pill bg-success">#{{ attraction }}</span>
                            {% endfor %}
                            {% if request.user == object.manager %}
                            <i class="bi bi-bookmark-plus" data-toggle="modal" data-target="#TagModalForm" style="cursor: pointer"></i>
                            <div class="modal fade" id="TagModalForm" tabindex="-1" role="dialog" aria-labelledby="TagModalForm" aria-hidden="true">
                                <form method="post" action="{% url 'hotel_attraction_add' hotel.slug %}">
                                    {% csrf_token %}
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content text-secondary">
                                            <div class="modal-header text-center" style="width: 100%">
                                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                            </div>

                                            <div id="user-modal-menu" style="width: 100%">
                                                {{ hotel_attraction_add_form.as_p }}
                                            </div>

                                            <div class="modal-footer" style="width: 100%">
                                                <button type="submit" class="btn btn-primary">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-2 align-middle">Fans Page/Website</td>
                        <td class="col-10 align-middle"><a href="{{ hotel.website }}">{{ hotel.website }}</a></td>
                    </tr>
                    <tr>
                        <td class="col-2 align-middle">Rooms</td>
                        <td class="col-10 align-middle">{{ hotel.room_set.count }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% if cautions %}
    <div class="row border-top pt-2">
        <h3>Cautions</h3>
        {% for caution in cautions %}
        <p>{{ caution.description|linebreaks|safe }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% if others %}
    <div class="row border-top pt-2">
        <h3>Others</h3>
        {% for other in others %}
        <p>{{ other.description|linebreaks|safe }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="row">
        <table class="align-middle">
            <thead class="text-center">
                <tr>
                    <th class="col-lg-3 col-8">Room photos</th>
                    <th class="col-lg-3 col-1">People</th>
                    <th class="col-lg-3 col-1">Price</th>
                    <th class="col-lg-3 col-2"></th>
                </tr>
            </thead>
            <tbody>
            {% for room in object.room_set.all %}
            <tr class="text-center border-top">
                <td>
                    <div class="container-fluid">
                        <div class="row">
                            <table>
                                <tr>
                                    <td rowspan="4" class="col-8"><img src="{{ room.photos.all.0.path.url }}" class="d-block w-100" alt="{{ room.photos.all.0.title }}" onclick="window.open('{{ room.photos.all.0.path.url }}')" style="cursor: pointer;"></td>
                                </tr>
                                <tr>
                                    <td><img src="{{ room.photos.all.1.path.url }}" class="d-block w-100" alt="{{ room.photos.all.1.title }}" onclick="window.open('{{ room.photos.all.1.path.url }}')" style="cursor: pointer;"></td>
                                </tr>
                                <tr>
                                    <td><img src="{{ room.photos.all.1.path.url }}" class="d-block w-100" alt="{{ room.photos.all.2.title }}" onclick="window.open('{{ room.photos.all.2.path.url }}')" style="cursor: pointer;"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="row">
                            <span class="text-dark h5 fw-light">{{ room }}</span>
                        </div>
                    </div>
                </td>
                <td><span class="text-success h3 fw-light">{{ room.people_limit }}</span></td>
                <td><i class="text-danger h3 fw-light">NT${{ room.price }}</i></td>
                <td><button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'room_reservation' hotel.slug room.pk %}'">Reserve</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}