{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'font/bootstrap-icons.css' %}">

    <script rel="script" src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script rel="script" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script rel="script" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script rel="script" src="{% static 'js/text.js' %}"></script>
    <script rel="script" src="{% static 'js/jquery.min.js' %}"></script>
    <script rel="script" src="{% static 'js/cus_bootstrap.min.js' %}"></script>
</head>