<!--The following is user features model center-->
<button type="button" class="btn" data-toggle="modal" data-target="#UserModalCenter">
    {{ request.user.username }}<i class="bi bi-caret-down-fill"></i>
</button>
<div class="modal fade" id="UserModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-secondary">
            <div class="modal-header text-center" style="width: 100%">
                <h5 class="modal-title" id="ModalLongTitle-Username">{{ request.user.username }}</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div id="user-modal-menu" style="width: 100%">
                {% if request.user.is_superuser %}
                <ul class="list-inline">
                    <li class="p-3" style="cursor: pointer" onclick="window.location.href='/admin/'">Admin</li>
                </ul>
                {% endif %}
                <ul class="list-inline">
                    <li class="p-3" style="cursor: pointer" onclick="window.location.href='{% url 'profile' request.user.username %}'">Profile</li>
                </ul>
                <ul class="list-inline">
                    <li class="p-3" style="cursor: pointer" onclick="window.location.href='{% url 'reservations' request.user.username %}'">Reservation</li>
                </ul>
            </div>

            <div class="modal-footer" style="width: 100%">
                <a class="btn btn-primary" href="{% url 'logout' %}" onclick="return confirm('Sure to logout?')">Logout</a>
            </div>
        </div>
    </div>
</div>

<!--The following is user notification model center-->
<button type="button" class="btn" data-toggle="modal" data-target="#NotificationModalCenter">
    Notification
</button>
<div class="modal fade" id="NotificationModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-secondary">
            <div class="modal-header text-center" style="width: 100%">
                <h5 class="modal-title" id="ModalLongTitle-Notification">Notification</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div id="notification-modal-menu" style="width: 100%">
                {% for notification in user.notification_set.all %}
                {% empty %}
                <ul class="list-inline">
                    <li class="p-3">No notification recently.</li>
                </ul>
                {% endfor %}
            </div>

            <div class="modal-footer" style="width: 100%">
                <a class="btn btn-primary" href="#read-all">Read All</a>
                <a class="btn btn-secondary" href="#delete-all">Delete All</a>
            </div>
        </div>
    </div>
</div>