{% extends 'base.html' %}
{% load static %}
{% load tz %}

{% block title %}
{{ request.user }}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">{{ user.username }}</li>
{% endblock %}

{% block body %}
<form method="post">
    {% csrf_token %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row justify-content-center">
            <div class="col-10 rounded-3 bg-dark text-light p-3 mb-4">
                <p class="h1 fw-light align-middle">{{ user.username }}</p>
                <p class="text-muted">
                    Join：{{ user.date_joined }}</br>
                    Last：{{ user.last_login }}
                </p>
            </div>

            <!--User profile-->
            <div class="col-12 col-md-5 col-xl-4 rounded-3 m-1 bg-white shadow p-3 bg-body rounded">
                <h3 class="fw-light align-middle">Info</h3>
                <table>
                    <tr>
                        <td colspan="3">
                            {{ form.ID_Number }}
                        </td>
                        <td class="col-1">
                            {% if user.ID_Number_is_verify %}
                            <i class="bi bi-check-circle-fill" style="color: green;"></i>
                            {% else %}
                            <i class="bi bi-x-circle-fill" style="color: red;"></i>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="col-6">{{ form.first_name }}</td>
                        <td colspan="2" class="col-6">{{ form.last_name }}</td>
                    </tr>
                    <tr>
                        <td colspan="4">{{ form.nickname }}</td>
                    </tr>
                    <tr>
                        <td colspan="4">{{ form.birthday }}</td>
                    </tr>
                    <tr>
                        <td colspan="4">{{ form.gender }}</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            {{ form.email }}
                        </td>
                        <td>
                            {% if user.email_is_verify %}
                            <i class="bi bi-check-circle-fill" style="color: green;"></i>
                            {% else %}
                            <i class="bi bi-x-circle-fill" style="color: red;" onclick="window.location.href='{% url 'email_confirm' %}'"></i>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            {{ form.phone }}
                        </td>
                        <td>
                            {% if user.phone_is_verify %}
                            <i class="bi bi-check-circle-fill" style="color: green;"></i>
                            {% else %}
                            <i class="bi bi-x-circle-fill" style="color: red;"></i>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">{{ form.identity }}</td>
                    </tr>
                    <tr>
                        <td colspan="4">{{ form.privilege }}</td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'profile' user.username %}'"><i class="bi bi-arrow-clockwise"></i>Refresh</button>
            </div>

            <!--User introduction-->
            <div class="col-12 col-md-5 col-xl-4 rounded-3 m-1 bg-white shadow p-3 bg-body rounded">
                <h3 class="fw-light align-middle">About</h3>
                {{ form.introduction }}
            </div>

            <!--User status-->
            <div class="col-12 col-md-10 col-xl-3 rounded-3 m-1 bg-white shadow p-3 bg-body rounded">
                <h3 class="fw-light align-middle">Status</h3>
                <p>
                    Active
                    {% if user.is_active %}
                    <i class="bi bi-check-circle-fill" style="color: green;"></i>
                    {% else %}
                    <i class="bi bi-x-circle-fill" style="color: red;"></i>
                    {% endif %}
                </p>
                <p>
                    Staff
                    {% if user.is_staff %}
                    <i class="bi bi-check-circle-fill" style="color: green;"></i>
                    {% else %}
                    <i class="bi bi-x-circle-fill" style="color: red;"></i>
                    {% endif %}
                </p>
                <p>
                    Superuser
                    {% if user.is_superuser %}
                    <i class="bi bi-check-circle-fill" style="color: green;"></i>
                    {% else %}
                    <i class="bi bi-x-circle-fill" style="color: red;"></i>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</form>
{% endblock %}
